body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(167, 213, 215);
    user-select: none;
}

.niveis {
    display: flex;
    justify-content: center;  /* centraliza os botões no container */
    gap: 5px;                /* espaçamento entre eles */
    width: 100%;              /* ocupa toda a largura do pai */
    margin-bottom: 0;      /* se quiser um espacinho abaixo */
}

.nivel {
    flex: 1;                  /* cada botão cresce igual */
    max-width: 150px;         /* opcional: limite de largura */
    padding: 10px 10px;
    color: black;
    background-color: rgb(196, 227, 254);
    border: none;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

#players {
    background-color: rgb(22, 6, 63);
    color: rgb(196, 227, 254);
}

.player-select {
    padding: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: rgb(196, 227, 254);
    cursor: pointer;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: rgb(44, 94, 166);
    /* background: linear-gradient(90deg, rgb(127, 58, 180) 0%, rgb(227, 29, 253) 50%, rgb(186, 18, 96) 100%); */
    padding: 40px 60px;
}

h2{
    font-size: 3.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}

h3{
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.2rem;
}

label{
    color: rgb(253, 154, 127);
}

#turno{
    margin-bottom: 0.5rem;
    display: none;
}

.placar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;   
    margin-top: 0.5rem;   
    margin-bottom: 0.1rem;     
    color: rgb(22, 6, 63);           
    font-size: 1.1rem;
    font-weight: 600;
}

#placar span {
    background: rgb(253, 154, 127);  /* retângulo semitransparente atrás do texto */
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: black;
    background-color: aliceblue;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin-top: 0.6em;
}

.game {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-auto-rows: 100px;
    gap: 10px;
    justify-content: center;
    padding-top: 0;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;                  /* ajusta o recorte da imagem */
    backface-visibility: hidden;        
    transform: rotateY(180deg);        
    transition: transform 0.25s;        
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(237, 194, 208);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;

}

.item.boxOpen{
    transform: rotateY(0deg);

}

.item.boxOpen img{
    transform: rotateY(0deg);

}

.item.boxOpen::after{
    transform: rotateY(180deg);
}

.boxMatch::after{
    transform: rotateY(180deg);
}